<a href="https://colab.research.google.com/github/MohoshiHaque/Python-Code/blob/master/pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
data={ 'weekdays':['Sun','Sun','Mon','Mon'],
      'city':['ctg','Dhk','ctg','Dhk'],
      'visitors':[139,123,12,222],
      'signups':[5,2,4,5]    
}

users=pd.DataFrame(data)
print(users)

  weekdays city  visitors  signups
0      Sun  ctg       139        5
1      Sun  Dhk       123        2
2      Mon  ctg        12        4
3      Mon  Dhk       222        5

In [0]:
import pandas as pd 
week=['Sun','Mon','Tue','Fri']
varsity=['NSU','AIUB','AUST','BRAC']
student=[12,34,56,78]
Grade=[4,5,3,4]
col_name=['Weekdays','varsity name','Student name','Student Grade']
col_element=[week,varsity,student,Grade]
zipped=list(zip(col_name,col_element))
print(zipped)
x=dict(zipped)
y=pd.DataFrame(x)
print(y)

[('Weekdays', ['Sun', 'Mon', 'Tue', 'Fri']), ('varsity name', ['NSU', 'AIUB', 'AUST', 'BRAC']), ('Student name', [12, 34, 56, 78]), ('Student Grade', [4, 5, 3, 4])]
  Weekdays varsity name  Student name  Student Grade
0      Sun          NSU            12              4
1      Mon         AIUB            34              5
2      Tue         AUST            56              3
3      Fri         BRAC            78              4

In [0]:
#Add colom with value
y['Fees']=1
print(y)

  Weekdays varsity name  Student name  Student Grade  Fees
0      Sun          NSU            12              4     1
1      Mon         AIUB            34              5     1
2      Tue         AUST            56              3     1
3      Fri         BRAC            78              4     1